listen=YES
listen_ipv6=NO
listen_port=@LISTEN_PORT@
anonymous_enable=NO
local_enable=YES
write_enable=YES
local_umask=002
file_open_mode=0666
chroot_local_user=YES
allow_writeable_chroot=YES
passwd_chroot_enable=NO
hide_ids=YES
userlist_enable=YES
userlist_deny=NO
userlist_file=/etc/vsftpd.photos.userlist
pam_service_name=vsftpd-photos
secure_chroot_dir=/var/run/vsftpd/empty
dirmessage_enable=NO
use_localtime=YES
xferlog_enable=YES
xferlog_std_format=NO
vsftpd_log_file=/var/log/vsftpd.log
connect_from_port_20=NO
pasv_enable=YES
pasv_min_port=@PASV_MIN@
pasv_max_port=@PASV_MAX@
pasv_promiscuous=NO
port_enable=YES
max_clients=20
max_per_ip=10
idle_session_timeout=600
data_connection_timeout=300
accept_timeout=60
connect_timeout=60
ls_recurse_enable=NO
async_abor_enable=YES
utf8_filesystem=YES
@PASV_ADDRESS_LINE@
@SSL_BLOCK@
